* {
  font-size: 1.1em;
}

body {
  padding: 1em;
  margin: 1em;
  border: 2px dashed plum;
  height: 100%;
}

a {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
  height: 100%;
  border: 1px solid blue;
  padding: 0.4em;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 0.6em;
  min-width: 100px;
  max-width: 400px;
}
